@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  transition: 0.5s all;
}
body {
  font-family: 'Raleway', sans-serif;
  color: white;
}
.body-1 {
  background-image: url('../assets/forest\ \(1\).jpg');
  width: 100%;
  padding-bottom: 15px;
}
.body-2 {
  background-image: url('../assets/forest\(5\).jpg');
  width: 100%;
  padding-bottom: 15px;
}
/*--------------    Navigation bar   --------------*/
.nav-bar {
  display: block;
  position: sticky;
  background-color: #00160075;
  overflow: hidden;
}
.container {
  flex-direction: row;
  flex: 1;
}
ul {
  padding-right: 3%;
}
li,
.link {
  display: inline-block;
  text-decoration: none;

  padding-top: 10%;
}
.nav {
  display: flex;
  flex-direction: row;
}
.link {
  width: 100%;
  padding: 5px 10px;
  margin: 2px 5px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.link:hover {
  background-color: #acff2fab;
  color: #000000;
  border-radius: 5px;
  /* box-shadow: 0px 0px 2px 2px #acff2fab; */
}
.link:active {
  color: white;
  background-color: #acff2fab;
  /* box-shadow: 0px 0px 2px 2px #acff2fab; */
}
#head {
  font-family: 'Pacifico', cursive;
  color: #a4fc21dc;
  font-size: 32px;
  margin: 0px 10px;
  padding: 5px;
  text-align: center;
}

/* ----------      Donate Button div        --------- */
.donate {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: center;
  max-width: 40%;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  margin: 5% auto;
  text-align: center;
  padding: 50px;
}
.donate p {
  font-size: 140%;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
  color: #a4fc21dc;
}
.sapling {
  height: 50%;
  width: 50%;
}
/* .button {
  font-family: inherit;
  cursor: pointer;
  color: aliceblue;
  font-size: 20px;
  font-weight: ;
  background-color: rgba(51, 78, 231, 0.74);
  padding: 7px 20px;
  margin-top: 35px;
  border-radius: 5px;
  border: none;
}
.button:hover {
  color: rgba(51, 78, 231);
  background-color: #f0f8ff9a;
}
.button:active {
  background-color: #99cd3296;
  color: #000000;
} */
.paybtn {
  margin-top: 1rem;
}
/* ----------------       About     ---------------- */
.about {
  font-size: 240%;
  text-align: center;
  padding: 13px;
  color: #ffffff;
  background-color: #0000005b;
}
.img {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex: 3;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3%;
}
.about-img {
  height: 30%;
  width: 30%;
  border-radius: 3%;
}
.about-container {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex: 2;
  align-items: center;
  padding: 3%;
  font-family: inherit;
  margin: auto;
}
.about-container p {
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 1%;
  text-align: center;
}
/* ------------------ Footer ----------------- */
footer {
  text-align: center;
  color: #a4fc21dc;
  font-weight: 700;
}
#home-link {
  display: inline-block;
  text-decoration: none;
  color: #a4fc21dc;
  padding: 5px;
}
#home-link:hover {
  color: #ffffff;
}
/* -------------------------- Responsiveness------------------- */
@media only screen and (max-width: 640px) {
  .donate {
    max-width: 70%;
  }
  #head {
    font-size: 20px;
  }
  .about-container {
    width: 90%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 640px) {
  .nav {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  #head {
    font-size: 30px;
  }
  li,
  .link {
    font-size: 18px;
    display: flex;
    flex: auto;
    width: 90%;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
  }
  .sapling {
    height: 5.5rem;
    width: 5.5rem;
  }
  .img {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .about {
    font-size: 125%;
  }
  .about-container p {
    font-size: 100%;
  }
  .about-img {
    height: 7.5rem;
    width: 9.5rem;
    padding: 10px;
    border-radius: 1.2rem;
  }
  .donate {
    max-width: 70%;
  }
  .donate p {
    font-size: 100%;
  }
  footer {
    font-size: 70%;
  }
}
